.row-header{
    margin:0px auto;
    padding:0px;
    background:#EEFBFB;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:200px;

}

.footer{
    background-color:#EEFBFB;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;

    
}

.navbar-dark {
     background-color:  #004E7C;
}
  