<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Song lyrics</title>
    <style>
        * {
            margin: 0;
            box-sizing: border-box;

        }

        #main {
            text-align: center;
            padding-top: 100px;
        }

        h1 {
            margin-bottom: 20px;
        }

        input[type='text'] {
            width: 30%;
            margin-bottom: 10px;
            padding: 10px;
            border: 2px solid black;
        }

        input[type='submit'] {
            width: 30%;
            padding: 5px;
            background:#007bff;
            border-color:#007bff;
            color: white;
            text-transform: uppercase;
        }
        form {
            margin-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap-social/bootstrap-social.css' %}">
     <link href="{% static 'css/styles.css'%}" rel="stylesheet">
</head>
<body>
     <nav class="navbar navbar-dark navbar-expand-sm  fixed-top">
        <div class="container">
           <a class="navbar-brand" href="{% url 'home'%}">Bifrost Bridge</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

                        <div class="collapse navbar-collapse" id="Navbar">
                            <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link"  href="{% url 'home'%}"><span class="fa fa-home fa-lg"> Home</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'aboutus'%}"><span class="fa fa-info fa-lg"> About</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contactus' %}"><span class="fa fa-address-card fa-lg"> Contact</span></a></li>
                                                                                         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{%url 'stock' %}">Stocks</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{%url 'sports' %}">Sports</a>
             <a class="dropdown-item" href="{%url 'weather' %}">Weather</a>
             <a class="dropdown-item" href="{%url 'songs' %}">Song Lyrics</a>
        </div>
      </li>

                </ul>

            </div>

        </div>
    </nav>

     <header class="jumbotron row-header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <h1>Bifrost Bridge</h1>
                    <p>The Bifrost Bridge, commonly referred as Bifrost, is a dimensional gateway which allows instantaneous travel within the 4 main realms i.e. Stocks, Sports, Weather, Song Lyrics. Whenever it is used, it leaves a history-like marking.</p>
                </div>
                <div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div id="main">
    <h1>Enter song name</h1>
    <form method="GET">
        <div>
            <label for="song"></label>
            <input type="text" id="song" value="{{ request.GET.song }}" placeholder="Song..." name="song"/>
        </div>
        <input type="submit" value="Submit"/>
    </form>

         {% if result %}
        <h3>{{ result.title }}</h3>
        {% for i in result.lyrics %}
            {% for j in i %}
                <h3>{{ j }}</h3>
            {% endfor %}
        {% endfor %}
    {% endif %}

</div>
    </div>
 <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-3 col-sm-3 align-items-center">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a  href="{% url 'home'%}">Home</a></li>
                        <li><a  href="{% url 'aboutus'%}">About</a></li>
                        <li><a href="{% url 'contactus' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="col-6 col-offset-1 col-sm-6 align-items-center" >
                    <h5>Our Address</h5>
                    <address>
		              Guru Nanak Dev Engineering college<br>
		              Gill Road, Ludhiana<br>
		              INDIA<br>
		              <i class="fa fa-phone fa-lg"></i>: +91 9530747064<br>
		              <i class="fa fa-fax fa-lg"></i>: +91 8377092213<br>
		              <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:ysanjeet282@gmail.com">ysanjeet282@gmail.com</a>
		           </address>
                </div>
                <div class="col-3 col-sm-3 align-self-center">
                    <div class="text-center">
                       <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
           </div>
           <div class="container">
                <div class=" row justify-content-center">
                    <p>© Copyright 2020 Bifrost Bridge</p>
                </div>
           </div>
        </div>
    </footer>

    <script src="{% static 'node_modules/jquery/dist/jquery.slim.min.js' %}"></script>
    <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js'%}"></script>
</body>
</html>